@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap");

$white-color: #fff;
$primary-color: #071c4d;
$primary-hover-color: #1e3771;
$orange-color: #ff9e53;
$orange-hover-color: #ffaa69;
$muted-color: #6e6e6e;

body {
  background-color: $white-color;
  font-family: "Assistant", sans-serif;
  color: $primary-color;
}

// Navbar
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $primary-color !important;
      font-weight: 400;

      &.active {
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -9px !important;
  margin-right: -17px !important;
  margin-bottom: -8px !important;

  height: 66px;
  border-radius: 0;
}

.btn-login {
  background-color: $primary-color;
  color: $white-color;

  &:hover {
    background-color: $primary-hover-color;
    color: $white-color;
  }
}

.navbar-brand {
  img {
    min-height: 40px;
  }
}

// Header
header {
  padding: 180px 0 165px;
  background-image: url("../images/header-background@2x.jpg");
  background-size: cover;
  margin-top: -66px;

  h1,
  p {
    color: $white-color;
  }

  h1 {
    font-size: 50px;
    font-family: "Playfair Display", serif;
  }

  p {
    font-size: 22px;
  }

  .btn-get-started {
    background-color: $orange-color;
    color: $white-color;

    &:hover {
      background-color: $orange-hover-color;
      color: $white-color;
    }
  }
}

// Statistik
.section-stats {
  margin-top: -50px;

  .stats-detail {
    background-color: $white-color;
    padding-top: 15px;
    padding-left: 40px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

// Popular
.section-popular {
  min-height: 540px;
  background-color: $primary-color;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2,
    p {
      color: $white-color;
    }

    h2 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }
}

// Popular content
.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #000;
      padding: 30px;
      margin-bottom: 20px;
      background-size: cover;
      color: $white-color;
    }

    .travel-country {
      font-size: 18px;
      color: $white-color;
    }

    .travel-location {
      font-size: 26px;
      color: $white-color;
    }

    .btn-travel-details {
      background-color: $orange-color;
      color: $white-color;

      &:hover {
        background-color: $orange-hover-color;
        color: $white-color;
      }
    }
  }
}

// section networks
.section-networks {
  background-color: $white-color;
  padding-top: 240px;
  margin-top: -170px;
  padding-bottom: 50px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  img {
    width: 100%;
  }
}

// Section testimonial
.section-testimonial-heading {
  min-height: 506px;
  padding-top: 50px;
  background: linear-gradient($white-color 0%, #f7f9ff 100%);

  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 380px;
    }

    h3 {
      font-size: 22px;
    }

    .testimonial {
      font-size: 26px;
      font-weight: 200;
      color: $muted-color;
      min-height: 160px;
    }

    .trip-to {
      font-weight: normal;
      font-size: 22px;
      color: $muted-color;
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .btn-need-help {
    background-color: #f2f2f2;
    color: #c3c3c3;

    &:hover {
      background-color: #fafafa;
      color: #c3c3c3;
    }
  }

  .btn-get-started {
    background-color: $orange-color;
    color: $white-color;

    &:hover {
      background-color: $orange-hover-color;
      color: $white-color;
    }
  }
}

.section-footer {
  a {
    color: $primary-color;
    font-weight: 300;
  }
}

@media (max-width: 470px) {
  header {
    h1 {
      font-size: 40px;
      font-family: "Playfair Display", serif;
    }

    p {
      font-size: 18px;
    }
  }

  .section-stats {
    h2 {
      font-size: 25px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      font-weight: lighter;
    }
  }
}

@media (max-width: 400px) {
  header {
    h1 {
      font-size: 27px;
      font-family: "Playfair Display", serif;
    }

    p {
      font-size: 16px;
    }
  }

  .section-stats {
    .stats-detail {
      background-color: $white-color;
      padding-top: 15px;
      padding-left: 25px;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
    }

    p {
      font-size: 13px;
      font-weight: lighter;
    }
  }
}